<div id="[[componentId]]" class="UserSettingsModalComponent [[if classNames]][[classNames]][[endif]]">
  <h2>Username</h2>
  <div class="RowCollapsible">
    <div class="FlexVerticalAlign">
      <input
        type="text"
        name="username"
        [[if username]]value="[[username]]"[[endif]]>
    </div>
    <div class="FlexVerticalAlign">
      <button
        id="[[componentId]]_setUsernameButton"
        onclick="[[this]].onSetUsernameButtonClicked();">Set Username
      </button>
    </div>
    <div
      id="[[componentId]]_usernameMessage"
      style="margin: auto 0 auto 0;"></div>
  </div>

  <h2>API Key</h2>
  <p><b>WARNING:</b> API keys are effectively a combined username and password. Do not share your API key with anyone. We will never ask you for your API key. If you suspect your API key has been compromised, reset it immediately.</p>
  <p>This key will only be displayed <b>once</b>. Store it securely.</p>
  
  <div class="RowCollapsible">
    <div class="FlexVerticalAlign">
      <input
        id="[[componentId]]_apiKey"
        type="text"
        disabled>
    </div>
    <div class="FlexVerticalAlign">
      <button
        class="OutlinedButton"
        onclick="[[this]].onGenerateAPIKeyButtonClicked();">Generate API Key
      </button>
    </div>
  </div>
</div>
