<div id="[[componentId]]" class="AuthenticationProviderSelectionModalComponent [[if classNames]][[classNames]][[endif]]">
  <h2>Choose a login provider</h2>
  <div class="FlexColumn" style="width: 100%;">
    <div class="FlexRow">
      <div class="FlexExpand"></div>
      <button
        class="FlexRow LoginButton"
        onclick="[[this]].onLoginButtonClicked('google')">
        <img src="/auth/static/google_logo.svg" />
        <div>Login with Google</div>
      </button>
      <div class="FlexExpand"></div>
    </div>

    <div class="FlexRow">
      <div class="FlexExpand"></div>
      <button
        class="FlexRow LoginButton"
        onclick="[[this]].onLoginButtonClicked('linkedin')">
        <img src="/auth/static/linkedin_logo.svg" />
        <div>Login with LinkedIn</div>
      </button>
      <div class="FlexExpand"></div>
    </div>
  </div>
</div>
