<import path="/src/JSUtils/components/ModalComponent/index.html">
<script>[[driver.js]]</script>

<style>[[style.css]]</style>

<script>JSRender.addTemplate('AuthenticationProviderSelectionModalComponent_template', `[[_index.html]]`);</script>
