.AuthenticationProviderSelectionModalComponent {
    width: 100%;
}

.AuthenticationProviderSelectionModalComponent .LoginButton {
    min-height: 64px;
    height: 64px;
    line-height: 64px;
    margin: 16px;
}

.AuthenticationProviderSelectionModalComponent .LoginButton img {
    height: 48px;
    width: 48px;
    margin: auto 16px auto 0;
}